*{
    width: auto;
    box-sizing: border-box;
    margin: 0 0;
    padding: 0;
}

.cabecalho{
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 238px;
    width: 100%;
}
